body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(0, 0, 255), rgb(0, 0, 148), rgb(0, 0, 22));
    position: relative;
}

.particle {
    position: absolute;
    filter: blur(3px);
    border-radius: 50%; /* Forma circular */
    background-color: rgba(0, 0, 0, 0.473); /* Cor da partícula com transparência */
    animation: wave 10s linear infinite; /* Animação de movimento */
}


@keyframes wave {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(50px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}